.attachmentEditDirective
	header
		h1.attachments-edit-header(ng-hide="currentAttachment.title") New Attachment
		h1.attachments-edit-header(ng-show="currentAttachment.title") {{currentAttachment.title}}
	section.row
		form(role="form")
			.form-group
				label.sr-only(for="attachments-edit-type")
				select.form-control.horizontal(id="attachments-edit-type", ng-model='currentAttachment.type', style="width:20%")
					option(value="") --select type--
					option(value="link") Link
					option(value="download") Download
					option(value="video") Video
					option(value="attribute") Attribute
					option(value="html") HTML
				label.sr-only(for="attachments-edit-title")
				input.form-control.horizontal(id="attachments-edit-title", ng-model="currentAttachment.title", placeholder="Title", style="width:80%")
			.form-group
				label.sr-only(for="attachments-edit-value")
				textarea.form-control(id="attachments-edit-value", ng-model="currentAttachment.value", placeholder="Enter attachment value here...")
			.form-group
				button.btn.btn-primary.btn-block(ng-click="save()") Save it!
