a.category.entity-list-item.list-group-item(ng:repeat="entity in filteredEntities | orderBy:name", ng-click="makeSelection(entity)", ng-class="{active: $parent.selection.indexOf($parent.entities[$index]) > -1}")
	|{{entity.name}}
