.productDetailDirective.container
	.row
		.col-md-3.pictureGallery(picture-gallery, pictures="$parent.productPictures")
		.col-md-6
			.row
				.col-md-12
					h1.products-detail-header(ng-hide="product.name") No Product Name :(
					h1.products-detail-header(ng-show="product.name")
						|{{product.name}}
						small - {{product.partno}}
			.row
				.col-md-12
					strong Description: 
					{{product.description}}
		.col-md-3
			.panel.panel-primary
				.panel-heading.product-detail-price-container
					h5.product-detail-price
						| {{product.price | productPrice}}
					div(product-cart, product="product", params='{}')
				.panel-body.text-center
					div(product-stock, product='product')
				div(entity-list, ng-show='$parent.productAttachments.length > 0', entities='$parent.productAttachments', listview-template="attachments/listview", params='{"image":"false","compact":"true"}')

	.row
		.col-md-12(entity-list, ng-show='$parent.relatedProducts.length > 0', entities='$parent.relatedProducts', on-selection-change='', on-create-new='onCreateNewRelatedProduct()', listview-template="products/gallery", params='{"image":"thumbnail","title":"Related products","compact":"false"}')

				//-ul.list-group
					//-li.list-group-item.text-center
						//-strong
							//-|Manufacturer:
						//-p
							//-|Testy products, Inc.
					//-li.list-group-item.text-center
						//-strong
							//-|SKU: 
						//-|{{product.sku}}
