.productDetailDirective.container
	.row
		.col-md-3.pictureGallery(picture-gallery, pictures="$parent.productPictures")
		.col-md-6
			.row
				.col-md-12
					h1.products-detail-header(ng-hide="product.name") No Product Name :(
					h1.products-detail-header(ng-show="product.name")
						|{{product.name}} 
						small - {{product.partno}}
			.row
				p
					strong Description: 
					{{product.description}}
				p(ng-show="$parent.attributes.length > 0")
					strong Features:
					ul
						li(ng-repeat="attribute in $parent.attributes")
							div(pretty-print, attachment='attribute', params='{"link":"false"}')
		.col-md-3
			.panel.panel-primary
				.panel-heading.product-detail-price-container
					h5.product-detail-price
						| {{product.price | productPrice}}
					div(product-cart, product="product", params='{}')
				.panel-body.text-center
					div(product-stock, product='product')
				div(entity-list, ng-show='$parent.externals.length > 0', entities='$parent.externals', on-selection-change='', listview-template="attachments/listview", params='{"image":"false","compact":"true","manageSelection":false}')
	.row
		.col-md-12(entity-list, ng-show='$parent.relatedProducts.length > 0', entities='$parent.relatedProducts', on-selection-change='', on-create-new='onCreateNewRelatedProduct()', listview-template="products/gallery", params='{"image":"thumbnail","title":"Related products","compact":false,"manageSelection":false}')
