//-.modal.fade
.modal-dialog
	.modal-content
		.modal-header
			button.close(ng-click="close()", type="button", aria-hidden="true")&times;
			h4.modal-title Title!
		.modal-body
			p Body!
		.modal-footer
			p Footer!
