.productListDirective
	.panel.panel-default
		.panel-heading(ng-show="config.title")
			h4.panel-title {{config.title}}
		.list-group(ng-class="{compact: config.compact}")
			.product-list-header-controls.list-group-item(ng-hide="config.status && !config.search")
				form(role="form")
					.form-group
						label.sr-only(for="products-list-search", ng-show="config.search")
						input.form-control(type='search', id="products-list-search", ng-model='search', placeholder='Search Products', ng-show="config.search")
						.btn-group.btn-group-justified(ng-hide="config.status")
							a.btn.btn-default(ng-click="type = 'active'", ng-class="{active: type == 'active'}") Active
							a.btn.btn-default(ng-click="type = 'pending'", ng-class="{active: type == 'pending'}") Pending
							a.btn.btn-default(ng-click="type = 'hidden'", ng-class="{active: type == 'hidden'}") Hidden
							a.btn.btn-default(ng-click="type = ''", ng-class="{active: !type}") All
			.product-list-item.list-group-item(ng:repeat="product in products | filter:{status:type} | filter:{name:search}", ng-class="{active: $parent.selection.indexOf($parent.products[$index]) > -1}", ng-click="makeSelection(product)")
				.pull-right
					h5.list-group-heading.product-list-price(ng-hide="!config.price && !config.qty && !config.addToCart")
						span(ng-show="config.price") $3.95
						div(product-cart, product="product", ng-show="config.addToCart")
				div
					.pull-left(ng-show="config.image")
						img.img-thumbnail.product-list-thumbnail(ng-src="{{getImage(product)}}")
					div(ng-hide="config.compact")
						h4.list-group-heading.product-list-name {{product.name}}
						h5.list-group-heading.product-list-partno {{product.partno}}
						p.list-group-item-text.product-list-description(ng-show="config.description") {{$parent.trimIt(product.description, 150)}}...
					div(ng-show="config.compact")
						h5.list-group-heading.product-list-name {{product.name}}
						small {{product.partno}}
				.clearfix
