.store.container
	.row
		.col-md-3(entity-list, entities='categories', on-selection-change='', parent-selection='selectedCategory', listview-template="categories/listview", params='{"image":false,"title":"Categories","manageSelection":false}')
		.col-md-9
			div(entity-list, entities="products", on-selection-change='', ng-hide="selectedProduct", listview-template="products/listview", params='{"defaultFilter":{"value":"active","key":"status"},"manageSelection":false}')
			div(product-detail, product="selectedProduct", ng-show="selectedProduct")
