.prettyPrintDirective
	span(ng-show='attachment.type == "link"')
		a(href='{{attachment.value}}', target='_blank', ng-show='config.link')
			.glyphicon.glyphicon-new-window.span
			&nbsp;
			{{attachment.title}}
		span(ng-hide='config.link')
			.glyphicon.glyphicon-new-window.span
			&nbsp;
			{{attachment.title}}
	span(ng-show='attachment.type == "download"')
		a(href='{{attachment.value}}', target='_blank', ng-show='config.link')
			.glyphicon.glyphicon-cloud-download.span
			&nbsp;
			{{attachment.title}}
		span(ng-hide='config.link')
			.glyphicon.glyphicon-cloud-download.span
			&nbsp;
			{{attachment.title}}
	span(ng-show='attachment.type == "video"')
		a(href='{{attachment.value}}', target='_blank', ng-show='config.link')
			.glyphicon.glyphicon-facetime-video.span
			&nbsp;
			{{attachment.title}}
		span(ng-hide='config.link')
			.glyphicon.glyphicon-facetime-video.span
			&nbsp;
			{{attachment.title}}
	span(ng-show='attachment.type == "attribute"')
			{{attachment.title}}:&nbsp;{{attachment.value}}
