h4 Example of prettyPrint Directive.

h5 Single Attachment
div(pretty-print, attachment='selectedAttachment')

h5 Attachment List
div(attachment-list, attachments='relatedAttachments', on-selection-change='onSelectAttachment(selection)')

h5 Attachment List Compact
div(attachment-list, attachments='relatedAttachments', on-selection-change='onSelectAttachment(selection)', params='{"compact":"true"}')
