.entityListGallery.productListGallery.panel-body
	.row
		.col-md-12
			//-div.galleryThumbsWrapper
			.thumbnail(ng:repeat="entity in filteredEntities", ng-class="{active: $parent.selection.indexOf($parent.filteredEntities[$index]) > -1}", ng-click="makeSelection(entity)")
				img(ng-src='{{getImage(entity)}}', class="{{config.imgClass}}")
				.caption(ng-hide="config.compact")
					h4
						a(href="{{buildUrl('#/product/'+entity.product_id)}}") {{entity.name}}
					h4 {{entity.price | productPrice}}
					div(product-cart, product="entity", params='{}')
