.entity-list-item.list-group-item(ng:repeat="entity in filteredEntities", ng-class="{active: $parent.selection.indexOf($parent.filteredEntities[$index]) > -1}", ng-click="makeSelection(entity)")
	.pull-right(ng-hide="!config.price && !config.qty && !config.addToCart")
		h4(ng-show="config.price") {{entity.price | productPrice}}
		div(product-cart, product="entity", params='{}', ng-show="config.addToCart")
	div
		.pull-left(ng-show="config.image")
			img.img-thumbnail.entity-list-thumbnail(ng-src="{{getImage(entity)}}")
		div(ng-hide="config.compact")
			h4.list-group-heading.entity-list-name
				a(ng-class="{active: $parent.selection.indexOf($parent.filteredEntities[$index]) > -1}", href="{{buildUrl('#/product/'+entity.product_id)}}") {{entity.name}}
			h5.list-group-heading.entity-list-partno {{entity.partno}}
			p.list-group-item-text.entity-list-description(ng-show="config.description") {{$parent.trimIt(entity.description, 150)}}...
		div(ng-show="config.compact")
			h5.list-group-heading.entity-list-name {{entity.name}}
			small {{entity.partno}}
	.clearfix
