!!!
html
	head
		title coffeeshop
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="page.css", media="screen")
		script(src='http://underscorejs.org/underscore-min.js')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-animate.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-route.js')
		script(src='/bower/angular-bootstrap/ui-bootstrap-tpls.js')
		script(src='/bower/superscore/superscore.min.js')
		script(src='/bower/q/q.js')
		//-script(src='/bower/bootstrap.js')
		script(src='/bower/jefri-runtime/jefri.min.js')
		script(src='/bower/jefri-stores/jefri-stores.min.js')
		script(src='bundle.js')
		script(src='templates.js')

	body(ng:app='coffeeshop',ng-view)
